.section_home{
    background-image: url(../../img/team-bg.jpg);
    background-size: cover; /* Чтобы изображение заполнило фон секции */
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.title_home{
position: absolute;
max-width: 600px;
}
.homepage_btn{
    cursor: pointer;
    background-color: #3f98f1;
    color: #ffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;

    border-radius: 7px;
    border-color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin-top: 40px;
}
.homepage_btn:hover,
.homepage_btn:focus{
    background: #466b89;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.slogan_home{
    color: #27557a;
}

.footer_home {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    z-index: 1; /* Устанавливаем z-index для футера, чтобы он был выше остальных элементов */
}

.author {
    position: relative; /* Изменяем позицию на относительную, чтобы она зависела от родительского элемента (.footer_home) */
    bottom: 0; /* Возвращаем bottom обратно к 0 */
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #27557a;
    font-style: inherit;
    font-weight: 400;
    z-index: 2; /* Устанавливаем z-index для надписи, чтобы она была над футером */
}

