body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornsilk;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book_section {
  display: flex;
  /* align-items: self-start; */
  flex-direction: column;
  margin-top: 60px;
  flex-wrap: wrap;
  align-content: space-around;
}

.contact_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-start;
}
.contact_list {
  padding-left: 0px;
}

.contact_list li {
  margin-bottom: 10px;
  list-style: none;
}

.delete-btn {
  margin-left: 20px;
}

.number-btn {
  margin-left: 20px;
  font-weight: 600;
  background-color: #ffc107;
  border: 2px solid #9e9e9e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
