@import './components/app/App.module.css';
@import './pages/home/Home.module.css';
@import './pages/register/Register.module.css';
@import './pages/login/LoginPage.module.css';
@import './components/userMenu/UserMenu.module.css';
@import './pages/contacts/ContactsPage.module.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: cornsilk; */
  box-sizing: border-box;
}





